In [1]:
my_list = [10,20,30,40,50,60,70]

In [2]:
for number in my_list:
    print(number /5 *2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [3]:
for number in my_list:
    if(number % 6 == 0):
        print(number)

30
60

In [4]:
my_string = "firat alcin"

In [5]:
for c in my_string:
    print(c)

f
i
r
a
t

a
l
c
i
n

In [6]:
for number in my_list:
    if number == 40:
        continue
    print(number)

10
20
30
50
60
70